*{
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #6e6e6e;
}

.content{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
}

.card{
    background-color: #fff;
    width: 180px;
    height: 260px;
    border-radius: 12px;
    box-shadow: 4px 4px 12px #000;
    margin: 10px;
}

.card img{
    width: 180px;
    height: 180px;
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.card div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4px;
    height: 25%;
}

.card h1{
    text-transform: capitalize;
    font-size: 1.2em;
}

.card h2{
    font-size: 0.9em;
    color: #5c5c5caa;
}

.card:hover{
    transition: 0.1s;
    transform: scale(1.2);
}
